PORT=5000
NODE_ENV=development
CLOUDANT_URL=https://4c7386ab-3756-45e1-8dae-9691c35316e4-bluemix.cloudantnosqldb.appdomain.cloud
CLOUDANT_APIKEY=Qm3GNbujm4-h-YujIKAJGKXzkYIGFRy7a-MDoXDH2cqZ
JWT_SECRET=Prayag@2026NexusFlow$AI%TaskManager!123456789
CORS_ORIGIN=http://localhost:3000

     